*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
figcaption,
li,
p,
ul,
span,
strong,
small {
  font-family: "Nunito", sans-serif;
  font-size: 100%;
}

:root {
  /** CSS primary COLORS */
  --color-primary-a0: #ffffff;
  --color-primary-a10: #d2d0ed;
  --color-primary-a20: #a4a3db;
  --color-primary-a30: #7579c8;
  --color-primary-a50: #3f51b5;
  --color-primary-a60: #333d84;
  --color-primary-a70: #262a57;
  --color-primary-a80: #18192d;
  --color-primary-a90: #000000;

  /** CSS secondary COLORS */
  --color-secondary-a0: #ffffff;
  --color-secondary-a10: #d5eaf7;
  --color-secondary-a20: #a9d4f0;
  --color-secondary-a30: #79c0e8;
  --color-secondary-a50: #36abe0;
  --color-secondary-a60: #307da3;
  --color-secondary-a70: #26526a;
  --color-secondary-a80: #192b35;
  --color-secondary-a90: #000000;

  /** CSS tertiary COLORS */
  --color-tertiary-a0: #ffffff;
  --color-tertiary-a10: #e9cbec;
  --color-tertiary-a20: #d298d8;
  --color-tertiary-a30: #b864c4;
  --color-tertiary-a50: #9c27b0;
  --color-tertiary-a60: #732381;
  --color-tertiary-a70: #4d1c55;
  --color-tertiary-a80: #29142c;
  --color-tertiary-a90: #000000;

  /** CSS quaternary COLORS */
  --color-quaternary-a0: #ffffff;
  --color-quaternary-a10: #ffd0d5;
  --color-quaternary-a20: #fe9fad;
  --color-quaternary-a30: #f66b87;
  --color-quaternary-a50: #e91e63;
  --color-quaternary-a60: #aa214a;
  --color-quaternary-a70: #6f1e32;
  --color-quaternary-a80: #39161c;
  --color-quaternary-a90: #000000;

  /** CSS success COLORS */
  --color-success-a0: #ffffff;
  --color-success-a10: #d1efd7;
  --color-success-a20: #a2deaf;
  --color-success-a30: #6fcc88;
  --color-success-a50: #28ba62;
  --color-success-a60: #27884a;
  --color-success-a70: #215933;
  --color-success-a80: #172e1d;
  --color-success-a90: #000000;

  /** CSS warning COLORS */
  --color-warning-a0: #ffffff;
  --color-warning-a10: #fff0cb;
  --color-warning-a20: #ffe196;
  --color-warning-a30: #ffd360;
  --color-warning-a50: #ffc508;
  --color-warning-a60: #b99017;
  --color-warning-a70: #785e18;
  --color-warning-a80: #3d3013;
  --color-warning-a90: #000000;

  /** CSS danger COLORS */
  --color-danger-a0: #ffffff;
  --color-danger-a10: #ffd1c2;
  --color-danger-a20: #ffa187;
  --color-danger-a30: #ff6c4f;
  --color-danger-a50: #ff1717;
  --color-danger-a60: #ba2015;
  --color-danger-a70: #7a1e12;
  --color-danger-a80: #3f160c;
  --color-danger-a90: #000000;

  /** CSS light COLORS */
  --color-light-a0: #ffffff;
  --color-light-a10: #f5f5f6;
  --color-light-a20: #ebebec;
  --color-light-a30: #e1e2e3;
  --color-light-a50: #d7d8da;
  --color-light-a60: #9c9d9e;
  --color-light-a70: #666667;
  --color-light-a80: #343434;
  --color-light-a90: #000000;

  /** CSS dark COLORS */
  --color-dark-a0: #ffffff;
  --color-dark-a10: #c2c2c4;
  --color-dark-a20: #88898c;
  --color-dark-a30: #525457;
  --color-dark-a50: #222428;
  --color-dark-a60: #1b1d20;
  --color-dark-a70: #151618;
  --color-dark-a80: #0c0d0e;
  --color-dark-a90: #000000;
}
